@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

*,
*::before,
*::after {
	box-sizing: border-box;
}


:root {
	--bg: hsl(210, 46%, 95%);
	--color: hsl(210, 46%, 95%);
}

body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 1.3rem;
	background: var(--bg);
	color: var(--color);
}

.container {
	display: grid;
	max-width: 700px;
	width: 85%;
	margin: 2.5em auto;
	gap: 1.5em;
	background: purple;
	grid-auto-flow: dense;
}

.card {
	border-radius: 10px;
	padding: 1em 1.5em;
}


/* .card {
	border-radius: 10px;
	padding: 1em 1.5em;
}

.intro-container {
	display: flex;
	align-items: center;
}
.intro-img {
	border: 3px solid hsl(263, 54%, 65%);
	border-radius: 100vh;
	margin-right: 1.5em;
}
h1,
h2 {
	font-weight: 500;
}
.intro,
h2,
h3,
p {
	margin: 0;
}
.intro {
	display: flex;
	flex-direction: column;
}
.name {
	font-weight: 500;
}
.intro .verified {
	opacity: 50%;
}
.header-text {
	margin: 0.5em auto;
}
.header-review {
	line-height: 1.4;
	font-size: 1rem;
	opacity: 70%;
}
.card-1 {
	background: hsl(263, 55%, 52%);
	background-image: url('/images/bg-pattern-quotation.svg');
	background-repeat: no-repeat;
	background-size: 35%;
	background-position: top right 2em;
	color: hsl(0, 0%, 100%);
}
.card-2 {
	background: hsl(217, 19%, 35%);
}
.card-3 {
	background: hsl(0, 0%, 100%);
	color: hsl(217, 19%, 35%);
}
.card-4 {
	background: hsl(219, 29%, 14%);
}
.card-5 {
	background: hsl(0, 0%, 100%);
	color: hsl(217, 19%, 35%);
} */

/* Media Query */
/* @media (min-width: 900px) {
	.container {
		max-width: 1400px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			'daniel daniel jonathan kira'
			'jean patric patric kira';
		margin: 1em auto;
	}
	.card-1 {
		grid-area: daniel;
	}
	.card-2 {
		grid-area: jonathan;
	}
	.card-3 {
		grid-area: jean;
	}
	.card-4 {
		grid-area: patric;
	}
	.card-5 {
		grid-area: kira;
	}
} */
